img {
    width: 4%;
    margin-right: 5px;
}

nav {
    margin: 0;
}

nav ul {
    list-style-type: none;
    border-radius: 60px;
    background-color: #FBF7E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 80%;
    padding-right: 40px;
}

#immagineListItem {
    width: 150px;
    display: flex;
    justify-content: space-around;
    flex-grow: 0.3;
    height: 90px;
    border-radius: 45px;
font-size: 1.7rem;
font-weight: 700;
}

#immagineListItem img {
    width: 40%;
}
nav ul li {
    border-radius: 30px;
    background-color: #F3DF85;
    color: #612406;
    width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}